#titulo {
    font-family: Haettenschweiler;
}

.button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    font-family: Arial;
}

.button:hover {
    color: #73AD21;
    ;
    border-bottom: solid;
}

.button:focus {
    outline: 0;
}

#perfil {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: center;
    justify-content: center;
    height: 100%;
    color: #66FF00;
    font-weight: bold;
}

#foto {
    height: 250px;
    border-radius: 50%;
}

.div {
    position: relative;
    width: 100%;
    color: rgb(29, 163, 163);
    font-weight: bold;
    text-align: justify;
    border: solid;
    margin-bottom: 20px;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    height: auto;
    margin: 0 20px 20px 0;
}

body {
    font-family: Courier New;
    color: rgb(58, 133, 133);
    font-size: 30px;
    font-weight: bold;
    background: url(/imagens/green.jpg);
    background-position: top top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
}

#items {
    margin-top: 20px;
    opacity: 2;
    font-size: 20px;
    color: white;
}

h2 {
    margin-top: 20px;
}

@media screen and (max-width: 496px) {

    body {
        margin: 1em auto;
        font-size: 15px;
    }
    h2{
        font-size: 20px;

    }
    #items {
        display: flex;
        flex-direction: column;
    }
    p{
        font-size: 10px;
    }

    #diplo {
        max-width: 200px;
        min-height: 200px;
    }
    iframe{
        width: 50px;
        height: 50px;
    }
}

@media screen and (min-height: 1024px) {
    body {
        margin: 1em auto;
        font-size: 15px;
    }
    #perfil {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #diplo{
        max-width: 400px;
        max-height: 400x;
    }
     iframe{
        width: 100px;
        height: 100px;
    }

}

@media screen and (min-height: 1100px) {

    body {
        margin: 1em auto;
        font-size: 15px;
    }
    #footer {
        padding: 100px 0;
    }
    #diplo{
        max-width: 300px;
        max-height: 300px;
    }
    p{
        font-size: 15px;
    }
    iframe{
        width: 100px;
        height: 100px;
    }
}

footer {
    position: relative;
    bottom: 0;
    margin-top: 30px;
    width: 100%;
    text-align: center;
    background-color: darkslategrey;
    padding: 10px 0;
    padding-bottom: 70px;
}

.copyright {
    padding-top: 40px;
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}
#diplo{
    width: 900px;
}